{% extends "cal_home/base.html"%}
{% load static %}

{% block content %}
<div class = "hero">
   <div class = "form-box">
       <div class = "image-icons">
        <img src="https://thumbs.dreamstime.com/b/calendar-to-do-list-computer-keyboard-grey-background-150052399.jpg">
        </div>
    <p>
    <h1 class ="home_title">Organize your tasks!</h1> <br>
    </p>
        <div class = "button-box">
            <div id="btn"></div>
            <a type="button" class= "toggle-btn" href=#login>Log In</a>
            <a type="button" class= "toggle-btn" href=#signup>Sign Up</a>
         </div>
         <div class="image-icons">
             <img src= "https://images.ctfassets.net/eh05n0xjhplz/6NBgF4WdPzyidsA5pRTCjf/5c43b3cf7d5d9f34cbe2034abf23b4b2/v2_Multiple-Calendar-Support_2x.png">
        </div>
    </div>
</div>
{% endblock content %}
