

*{
    margin: 0;
    padding: 0;
}

body{
  
  height: 2000px;
  width:1000px;
}


.hero{
    height: 100%;
    width: 100%;
   background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg");

   background-position: center;
    background-size: cover;
    position:absolute;
}

h2{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: xx-large;
color:rgb(28, 37, 61);
text-align: center;
top:500px;
}

.container{
position:absolute;
height: 1000px;
width:100%;
}
/*Calendar*/
.about1{
  position:absolute;
  justify-content: center;

top: 300px;
  left: 200px;
}

.about1 img{
  height: 200px;
  width:200px;
}

/* Tasks icon */
.about2{
  position:absolute;
  justify-content: center;
  top: 300px;
  right: 500px;
  }
  
.about2 img{
    height: 200px;
    width:200px;
  }

  
  /* Music icon */
.about3{
  position:absolute;
  justify-content: center;
  top: 700px;
  left: 200px;
  }
  
.about3 img{
  
    height: 200px;
    width:200px;
  }

  /* Settings icon */
.about4{
  position:absolute;
  justify-content: center;
 
  top: 700px;
  right: 500px;
  }
  
.about4 img{
    height: 200px;
    width:200px;
  }

.form-box{
    width: 380px;
    height: 600px;
    position: relative;
    justify-content: center;
    margin: 6% auto;
    background:white;
    border: 3px solid rgb(44, 128, 206);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.home_title{
  color:rgb(94, 169, 253);
  text-shadow: 1px 1px rgb(107, 51, 170);
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

.button-box{
    width: 190px;
    margin: auto;
    position: relative;
    
    /*box-shadow: 0 0 20px 9px #ff61241f;*/
    border-radius: 30px; 
    border-style:solid;
    border-color: black;
    background-color: rgb(42, 206, 218);
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
}

.toggle-btn1{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid black;
    
  border-left:black;
  border-top: rgb(42, 206, 218);
  border-bottom: rgb(42, 206, 218);
    outline: none;
    position:relative;
}

.toggle-btn2{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid black;
  
  border-right:black;
  border-top: rgb(42, 206, 218);
  border-bottom: rgb(42, 206, 218);
  outline: none;
  position: relative;
}


.image-icons{
    margin: 30px auto;
    text-align: center;
}
.image-icons img{
    width: 250px;
    margin: 0 12px;
    box-shadow: 0 0 15px 0 #6867673d;
    border-radius: 50;
}

  /* Style the links inside the navigation bar */
  .button-box a {
    float: left;
    color: black;
    text-align: center;
    padding: 21px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .button-box a:hover {
    background-color:lightskyblue;
    color: black;
  }
  
/* Might need to double check the active/current link. */

  /* Add a color to the active/current link */
  .button-box a.active {
    background-color: rgb(173, 188, 230);
    color: black;
  }


 