

*{
    margin: 0;
    padding: 0;
}

body{
  
  height: 2000px;
  width:1000px;
}


.hero{
    height: 1000px;
    width: 100%;
   background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg");

   background-position: center;
    background-size: cover;
    position:absolute;
    border: 3px solid white;
}


.container{

position:absolute;
height: 1000px;
width:100%;
background-image: url("https://i.imgur.com/2bXSIo5.jpeg");
background-position: center;
background-size: cover;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 500%;
color:rgb(28, 37, 61);
text-align: center;
top:1000px;

border: 3px solid white;

}

.container h2{
  
-webkit-text-stroke:5px black;
-webkit-text-fill-color:white;
}

/*Calendar*/
.about1{
  position:absolute;
top: 400px;
  left: 200px;
  padding: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  background-color: rgb(105, 230, 209);
    border: 3px solid darkblue;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

  
}
.about1 .btn{

  position: absolute;
  top: -90%;
    left: -4%;
  height: 200px;
  width: 200px;  
  background-color: transparent;
  transform: translate(50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 0px;
  padding: 12px 24px;
  border: none;
  cursor:pointer;
  border-radius: 5px;
  text-align: center;
}
.about1 img{

  height: 100%;
  width:100%;
}

/* Tasks icon */
.about2{
  position:absolute;
  top: 400px;
  right: 300px;
  padding: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  border: 3px solid darkblue;
  background-color: rgb(105, 230, 209);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  }
  .about2 .btn{

    position: absolute;
    top: -90%;
    left: -20%;
    height: 200px;
    width: 200px;  
    background-color: transparent;
    transform: translate(50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 0px;
    padding: 12px 24px;
    border: none;
    cursor:pointer;
    border-radius: 5px;
    text-align: center;
  }
.about2 img{
    height: 100%;
    width:100%;
  }

  
  /* Music icon */
.about3{
  position:absolute;
  top: 800px;
  left: 200px;
  padding: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  border: 3px solid darkblue;
  background-color: rgb(105, 230, 209);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  }
  
  .about3 .btn{
    position: absolute;
    top: -90%;
    left: 4%;
    height: 200px;
    width: 200px;  
    background-color: transparent;
    transform: translate(50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 0px;
    padding: 12px 24px;
    border: none;
    cursor:pointer;
    border-radius: 5px;
    text-align: center;
  }
.about3 img{
  
    height: 100%;
    width:100%;
  }


  /* Settings icon */
.about4{
  position:absolute;
 padding: 20px;
  top: 800px;
  right: 200px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  border: 3px solid darkblue;
  background-color: rgb(105, 230, 209);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  }
  
  .about4 .btn{
    
    position: absolute;
    top: -90%;
    left: 10%;
    height: 200px;
    width: 200px;  
    background-color: transparent;
    transform: translate(50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 0px;
    padding: 12px 24px;
    border: none;
    cursor:pointer;
    border-radius: 5px;
    text-align: center;
    
  }

.about4 img{
  float:left;
    height: 100%;
    width:100%;
  }

.p-about{
  font-family: fantasy;
      color: darkblue;
      font-size: 22px;
      top: 120%;
}

.about1 .h1, .p{
position:fixed;
}
.about2 .h1, .p{
  position:fixed;
}
.about3 .h1, .p{
  position:fixed;
}
.about4 .h1, .p{
  position:fixed;
}
 

.form-box{
    width: 380px;
    height: 600px;
    position: relative;
    justify-content: center;
    margin: 6% auto;
    background:white;
    border: 3px solid rgb(44, 128, 206);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.home_title{
  color:rgb(94, 169, 253);
  text-shadow: 1px 1px rgb(107, 51, 170);
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

.button-box{
    width: 190px;
    margin: auto;
    position: relative;
    
    /*box-shadow: 0 0 20px 9px #ff61241f;*/
    border-radius: 30px; 
    border-style:solid;
    border-color: black;
    background-color: rgb(42, 206, 218);
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
}

.toggle-btn1{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid black;
    
  border-left:black;
  border-top: rgb(42, 206, 218);
  border-bottom: rgb(42, 206, 218);
    outline: none;
    position:relative;
}

.toggle-btn2{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid black;
  
  border-right:black;
  border-top: rgb(42, 206, 218);
  border-bottom: rgb(42, 206, 218);
  outline: none;
  position: relative;
}


.image-icons{
    margin: 30px auto;
    text-align: center;
}
.image-icons img{
    width: 250px;
    margin: 0 12px;
    box-shadow: 0 0 15px 0 #6867673d;
    border-radius: 50;
}

  /* Style the links inside the navigation bar */
  .button-box a {
    float: left;
    color: black;
    text-align: center;
    padding: 21px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .button-box a:hover {
    background-color:lightskyblue;
    color: black;
  }
  
/* Might need to double check the active/current link. */

  /* Add a color to the active/current link */
  .button-box a.active {
    background-color: rgb(173, 188, 230);
    color: black;
  }


  div.static {
    background-image: url("https://www.ohsolovelyblog.com/wp-content/uploads/2020/12/OhSoLovelyBlog.com-January2021-Sunday-30.jpg");
    
    background-position: center;
    background-size: 110%;
    position: absolute;
    top: 2010px;
    width: 100%;
    height: 700px;
    }


  .start-about{
    position: relative;
    padding: 50px;
    top: 23%;
    left: 8%;
    border: 3px solid rgb(44, 128, 206);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 380px;
    height: 300px;
  }
  
  h1{
    font-size: 40px;
    font-family: fantasy;
  }
  
    p.welcome-to-about{
      font-family: fantasy;
      color: darkblue;
      font-size: 22px;
      top: 120%;
    }
  



    .music{
      background-image: url(https://t1.pixers.pics/img-c676e9e9/canvas-prints-vector-illustration-of-an-abstract-music-background-with-notes.jpg?H4sIAAAAAAAAA42PWW6FMAxFtxMkwE7IBAt4v28JKJDwSssQkbRFXX1NW_WvUuUPD7KP74XXLbkpwBi2HA5YZ--XANO8UJe6I6T5IzAslZFFR9OFIWLR7W_hGI89skq2ZaVEqTkvNdqie3d0uLrjhT3lHFMHkJo6zifRKI0JxjWBQG4AG1DW-2C41E0rQx-XPW971eDZYB23R4lX_B9pgSOowfNBD9ajHGwvBJ4Kq1_CF1aiJD_mQv_4M4iluXzlY14ZGd1pO7Pn-Cjgj5_fNdAV3O6gWmgNCAnaXKP-dldta4TUpndhctrrUdlRNY7kGessSjXpiWuSUtOXT57MTLuFAQAA);
  position: absolute;
  top: 2720px;
  width: 100%;
  height: 700px;
  background-position: center;
  background-size: 110%;
    }
  
    .start-music{
    position: relative;
    padding: 50px;
    top: 10%;
    left: 8%;
    border: 16px solid black;
    width: 360px;
    height: 200px;
    }
  
    p.welcome-to-music{
      font-family: fantasy;
      color: darkblue;
      font-size: 22px;
      top: 120%;
    }