<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3399ff;
}
li{
  float: left;
}
li a {
  display: block;
  color: White;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #111;
}
.active{
  background-color: #4CAF50;
}
</style>
</head>
<!-- The above code removes bullet points from the navbar -->
<body>
<div id="topheader">
  <div class="container">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href= "http://127.0.0.1:8000/">Home</a>
          </li>

        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/about/">About</a>
          </li>

        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/admin/">Login</a>
          </li>

        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/contact/">Contact</a>
          </li>

        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/product/">Products</a>
          </li>

        </ul>
      </nav>
    </div>
</div>
