<!-- calen/templates/calen/calendar.html -->

{% extends 'cal_home/base.html' %}

{% block content %}
<div class="clearfix">
    <a style="font-weight:bold" class="btn btn-info left" href="{% url 'calen:calendarhome' %}?{{prev_month}}">Previous Month</a>
    <a style="font-weight:bold" class="btn btn-info right" href="{% url 'calen:calendarhome' %}?{{next_month}}">Next Month</a>
    <a style="font-weight:bold" class="btn btn-info right" href="{% url 'calen:event_new' %}">New Event</a>
</div>
{{ calendar }}
{% endblock %}