/* calen/static/calen/css/styles.css */

.calendar{
    width: 98%;
    margin: auto;
    font-size: 13px;
}

.calendar tr, .calendar td{
    border: 5px solid #855f36;
}

.calendar th{
    padding: 10px;
    text-align: center;
    font-size:20px;
    border: 5px solid #ffbe78;
}

.calendar td{
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
    border: 5px solid #ffbe78;
}

.month{
    font-size: 25px;
}

.date{
    font-size: 16px;
}
del{
    text-decoration: line-through;
}


ul{
    height: 100%;
    padding: 0px 5px 0px 20px;
}

a{
    color: #17a2b8;
}

.left{
    float: left;
}

.right{
    float: right;
}

.btn{
    outline: none;
    color: black;
    background-color: transparent;
    box-shadow: 0 0 0 0;
}

.clearfix{
    margin: 15px;
}

.form{
    margin: auto;
}

.form input, .form select, .form textarea{
    border-radius: 5px;
    border: 1px solid #17a2b8;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
}

mark{
    background-color:#ff85b4;
    color: black;
}

.back{
    height: 100%;
    width: 100%;
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Ffineartamerica.com%2Ffeatured%2Fsummer-mint-pastel-green-mint-podartist.html%3Fproduct%3Dround-beach-towel&psig=AOvVaw3yN3wVs8h3gNf8FneUMVG1&ust=1614743998997000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLi1_6rckO8CFQAAAAAdAAAAABAD");
    background-position: center;
    background-size: cover;
    position: absolute;
}