<!DOCTYPE html>

<!-- Implement a listing within each day, a box-like grid?-->

<html>


    {% extends 'cal_home/base.html' %}
    {% load static %}
    
     {% block content %}
            
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>

    <link rel="stylesheet" href="{% static 'cal_home/calendar.css' %}" type= "text/css"/>
</head>


<body>
    <h1>Calendar.</h1>


<div class="month">
    <ul>
      <li class="prev">&#10094;</li>
      <li class="next">&#10095;</li>
      <!-- Need way to have date change to actual date, not hardcoded-->
      <li>February<br><span style="font-size:18px">2021</span></li>
    </ul>
  </div>
  
  <ul class="weekdays">
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    <li>Su</li>
  </ul>
  
  <ul class="days">
    <!-- Number of days need to not be hardcoded in-->
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li>10</li>
    <li>11</li>
    <li>12</li>
    <li>13</li>
    <li>14</li>
    <li>15</li>
    <li>16</li>
    <li>17</li>
    <li>18</span></li>
    <li>19</li>
    <li>20</li>
    <li>21</li>
    <li>22</li>
    <li>23</li>
    <li><span class="active">24</span></li> 
    <li>25</li>
    <li>26</li>
    <li>27</li>
    <li>28</li>
  </ul>
</body>
  {% endblock %}
</html>